html,body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin:0%;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
body{
    width: 96%;
    max-width: 100%;
    margin-left: 4%;
    transition: 0.5s;
}
.small_trans{
    transition:4s
}
.modif_body{
    width: 85%;
    max-width: 100%;
    margin-left: 15%;
    transition: 1s;
}
.navigation{
    box-shadow: 0;
}
.brand-logo{
    margin-left: 1%;
    
}
a.menu_link{
    display: inline-block;
    margin-left: 1%;
    margin-right: 0;
    
    
}
.modif_body a.menu_link i{
    color:black;
    
    
}
.navi_tab{
    margin-left: 30%;
    
}
.navi_tab li{
    font-weight: bold;
}
.log_sign{
    margin-right: 10%;
}
.log_sign li a img{
    height: 40px;
    width: 40px;
    position: relative;
}
.li_user_view{
    display: inline-block;
    border-bottom: inset 2px red;
   
}

.sign{
    padding:2%;
    width: 80px;
    height: 40px;
    font-size: 15px;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
}
.log_sign li > a{
    font-size: 15px;
    font-weight: bold;
}
ul.stick_sidenav{
    border: 0px solid red;
    width: 4%;
    padding-top: 10px;
  
    
}

.stick_sidenav li{
    border: 0px solid green;

    

}
.stick_sidenav li a{
    border: 0px solid red;
    padding: initial;
    padding-left: 25%;
    padding-right: 25%;
}
ul.mask_sidenav{
    display: block;
    width: 15%;
}
.bar_fs_elmt{
    margin-top: 79.5px;
   
}
.stick_sidenav .sidenav-trigger{
    padding:0;
    padding-left: 25%;
    padding-right: 25%;
    margin:0;
    
}
main{
    border: 0px green dashed;
    height: 93.2%;
    min-height: auto;
    max-height: 100%;
    
    
}
main .container{
    height: 20%;
    border: 0px solid red;

}

main .container .row{
    height: 100%;
    border: 0px magenta dashed;
    padding-top: 1%;
    padding-bottom: 1%;
    

}
main .container .row .col{
    height: 100%;
    border: 0px magenta dashed;
    margin-right: 1%;
    margin-left: 1%;
    width: 31.3%;
}
.col.vid_stat{
    background-image: url(../image/Webinar-pana.png);
    /*background-position: right 22px;*/
    background-size: contain;
    background-repeat: no-repeat;
    
   
}
.col.visit_stat{
    background-image: url(../image/Hospital\ family\ visit-pana.png);
    /*background-position: right 22px;*/
    background-size: contain;
    background-repeat: no-repeat;
}
 .stat_det{
    font-size: 85px;
    margin: 0;
    border: 0px solid red;
    font-weight: bold;
    padding-bottom: 0;
    padding-top: 0;
    line-height: 1;
    margin-top: 2%;
    color: #fff;
    text-shadow: 3px 3px 20px #f8ff99,
    -2px 1px 30px #f8ff99;
    
}


.text_show{
    font-size: 20px;
    margin:0 ;
    border: 0px solid green;
    font-weight: bold;
    line-height: 1;
    padding-top: 0;
    color: #fff;
    text-shadow: 3px 3px 20px #f8ff99,
    -2px 1px 30px #f8ff99;
}
.see_det{
    margin: 0;
    font-weight: bold;
    border: 0px solid yellow;
    font-size: 15px;
    
}
.user_det{
    padding: 0;
    padding-left: 0;
    padding-right: 0;
}
.wcm_part{
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 0px;
    font-weight: bold;
    color: white;
    text-shadow: 3px 3px 20px #f8ff99,
    -2px 1px 30px #f8ff99;
}
.user_det .divider{
    margin-top: 1px;
    margin-bottom: 1px;
}
.prl_part{
    font-weight: 700;
    margin-bottom: 2px;
    margin-top: 0;
    font-size: 15px;
    hyphens: manual;
    color: #fff;
    text-shadow: 3px 3px 20px #f8ff99,
    -2px 1px 30px #f8ff99;
}
.dash_title{
    margin: 4%;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 0%;
    border-color: dodgerblue;
}
.dash_panel{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-template-rows: minmax(100px,auto);
    grid-auto-flow: dense;
    grid-gap: 10px;
    border: 0px solid saddlebrown;
    margin:4%;
    margin-top:1%;
    height: 60%;
}
.dash_panel .box{
    
    background: #333;
    padding: 20px;
    display: grid;
    place-items: center;
    text-align: center;
    transition: 0.1s;
    
}
.dash_panel .box:hover{
    background: #efab5c;
  
}
.box .content img{
    position: relative;
    max-width: 100px;
    
    margin-bottom: 10px;
}
.dash_panel .box:nth-child(1){
   grid-column: span 1; 
   grid-row: span 2;
   background: url('../image/grid_1.png');
   background-color: rgba(0, 0, 0, 0.5);
   background-size:cover;
   background-repeat: no-repeat;
   transition: 0.1s; 
   color: black;
   
   
}
.dash_panel .box:nth-child(1):hover{ 
    background-color: rgb(0, 0, 0);  
    color: white;    
 }
.dash_panel .box:nth-child(1) p{
    font-weight: bold;
    font-size: 20px;
    color: inherit;
    text-shadow: 3px 3px 20px #f8ff99,
    -2px 1px 30px #f8ff99;
    
}

.dash_panel .box:nth-child(3){
    grid-column: span 2; 
    grid-row: span 1;
    background: url('../image/grid_3.png');
    background-color: rgba(0, 0, 0, 0.5);
    background-size:cover;
    background-repeat: no-repeat;
    transition: 0.1s; 
    color: black;
    
 }
 .dash_panel .box:nth-child(3):hover{ 
    background-color: rgb(0, 0, 0);
    color: white;      
 }
 .dash_panel .box:nth-child(3) p{
    font-weight: bold;
    font-size: 20px;
    color: inherit;
    text-shadow: 3px 3px 20px #f8ff99,
    -2px 1px 30px #f8ff99;
    
}
 .dash_panel .box:nth-child(2){
    font-weight: bold;
    font-size: 20px;
    background: url('../image/grid_2.png');
    background-color: rgba(0, 0, 0, 0.5);
    background-size:cover;
    background-repeat: no-repeat;
    transition: 0.1s; 
    color: black;
 }
 .dash_panel .box:nth-child(2):hover{ 
    background-color: rgb(0, 0, 0);  
    color: white;    
 }
 .dash_panel .box:nth-child(2) p{
    font-weight: bold;
    font-size: 20px;
    color: inherit;
    text-shadow: 3px 3px 20px #f8ff99,
    -2px 1px 30px #f8ff99;
    
}
.dash_panel .box:nth-child(6){
    font-weight: bold;
    font-size: 20px;
    background: url('../image/grid_6.png');
    background-color: rgba(0, 0, 0, 0.5);
    background-size:cover;
    background-repeat: no-repeat;
    transition: 0.1s;
    color: black; 
 }
 .dash_panel .box:nth-child(6):hover{ 
    background-color: rgb(0, 0, 0);
    color: white;      
 }
 .dash_panel .box:nth-child(6) p{
    font-weight: bold;
    font-size: 20px;
    color: inherit;
    text-shadow: 3px 3px 20px #f8ff99,
    -2px 1px 30px #f8ff99;
    
}
.dash_panel .box:nth-child(4){
    font-weight: bold;
    font-size: 20px;
    background: url('../image/grid_4.png');
    background-color: rgba(0, 0, 0, 0.5);
    background-size:cover;
    background-repeat: no-repeat;
    transition: 0.1s; 
    color: black;
 }
 .dash_panel .box:nth-child(4):hover{ 
    background-color: rgb(0, 0, 0);   
    color: white;   
 }
 .dash_panel .box:nth-child(4) p{
    font-weight: bold;
    font-size: 20px;
    color: inherit;
    text-shadow: 3px 3px 20px #f8ff99,
    -2px 1px 30px #f8ff99;    
}
.dash_panel .box:nth-child(5){
    font-weight: bold;
    font-size: 20px;
    background: url('../image/grid_5.png');
    background-color: rgba(0, 0, 0, 0.5);
    background-size:cover;
    background-repeat: no-repeat;
    transition: 0.1s; 
    color: black;
 }
 .dash_panel .box:nth-child(5):hover{ 
    background-color: rgb(0, 0, 0); 
    color: white;     
 }
 .dash_panel .box:nth-child(5) p{
    font-weight: bold;
    font-size: 20px;
    color: inherit;
    text-shadow: 3px 3px 20px #f8ff99,
    -2px 1px 30px #f8ff99;
   
    
}
 



